#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-area{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border: 2px Solid #eee;
  overflow: hidden;
}

.red-box{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  cursor: pointer;
  transition: top 0.5s, left 0.5s;
}

.game-control{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.game-control input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.reaction-table{
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  max-width: 500px;
  text-align: center;
}